body {
  font-size: 14px;
  padding: 5px;
  width: 270px;
}

::-webkit-scrollbar {
  position: absolute;
	width: 6px;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background: #999;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

::-webkit-scrollbar-track-piece {
	background: #CCC;
}

#toggle, #mute {
  cursor: pointer;
}

#progress {
  background: #CCC;
  border: 1px solid #999;
  height: 5px;
  width: 268px;
}

#control {
  padding: 11px 0;
}

#control > * {
  vertical-align: middle;
}

#time {
  font-size: 13px;
  padding: 0 7px;
}

#volume {
  float: right;
  margin: -2px;
}

#volume-range {
  height: 16px;
  width: 60px;
}

#playlist {
  margin: 0;
  max-height: 311px;
  overflow-x: hidden;
  padding: 1px 0 0;
  width: 270px;
}

#playlist span {
  display: inline-block;
}

#playlist li {
  border: 1px solid #CCC;
  height: 30px;
  list-style: none;
  margin-top: -1px;
  overflow: hidden;
  padding: 0 5px;
  white-space: nowrap;
}

#playlist li:before {
  content: attr(index);
  display: inline-block;
  font-weight: bold;
  margin: 9px 0;
  padding-right: 8px;
  text-align: right;
  width: 25px;
}

#playlist li:hover {
  background: #DDD;
}

#playlist li.current:before {
  content: '>';
}

#playlist li:hover .title {
  display: inline-block;
  max-width: 180px;
  overflow: hidden;
}

#playlist li:hover .remove {
  cursor: pointer;
  display: inline-block;
  float: right;
  margin: 7px 2px;
}

#playlist .title {
  max-width: 205px;
  overflow: hidden;
}

#playlist .remove {
  display: none;
}

#playlist .edit {
  -webkit-appearance: textfield;
  background: #FFF;
  border: 1px solid #CCC;
  color: #666;
  font-size: 85%;
  margin: 0 2px;
  padding: 1px 3px;
  position: relative;
  top: -1px;
}

