.fb_sidebar_data_text{
	margin: 1px 0px 2px 0px;
}

.yhack_facebook_img .yhack_facebook_img:link{
	border: none;
	border-style: none;
	margin: 0px 0px 0px 0px;
	line-height:1px; 
}

.basic_data_label{
	color: #888888;
	font-weight: bold;
}
.test{
	width: 133px;
}
.basic_data_value{

}