<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/popup.css" />
    <title>MusicTube Player</title>
  </head>
  <body>
    <div id="player">
      <canvas id="progress"></canvas>
      <div id="control">
        <img id="toggle" src="" alt="play/pause" />
        <span id="time"></span>
        <span id="volume">
          <img id="mute" src="" alt="mute/unmute" />
          <input type="range" id="volume-range" max="1" min="0" step="0.01" />
        </span>
      </div>
    </div>
    <ol id="playlist"></ol>
    <script id="playlist-tmpl" type="text/template">
    <% for (var index = 0; index < playlist.length; index++) { %>
      <li index="<%= index + 1 %>">
        <span class="title"><%= playlist[index].title %></span>
        <img src="icons/remove.png" class="remove" />
      </li>
    <% } %>
    </script>
    <script src="scripts/jquery.js"></script>
    <script src="scripts/jquery-ui-custom.js"></script>
    <script src="scripts/underscore.js"></script>
    <script src="scripts/popup.js"></script>
  </body>
</html>
